@media only screen and (min-width: 1000px) {
  #content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "nav header"
                           "sidebar content"
                           "sidebar content"
                           "sidebar content";
    grid-gap: 15x;
  }

  #table-of-contents h2 {
    display: none;
  }

}

@media only screen and (max-width: 500px) {
  #content {
  }
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "body" "footer";
}

.container {
  width: 95%;
}

.sidebar {
  grid-area: sidebar;
}

#table-of-contents {
  grid-area: nav;
}

h1, h2, h3, h4 {
  font-family: 'Cabin Sketch', cursive;
}

.title {
  grid-area: header;
  text-align: center;
  line-height: 110%;
  margin-bottom: .2em;
}

re[class*="src-"] {
  border: solid 1px rgba(51,51,51,0.12);
  color: #abb2bf;
  background-color: #282c34;
  font-family: 'GoMonoRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  border: 1px solid rgb(187, 187, 187);
  padding: 0px 0px;
}

pre {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 1px;
}

code {
  background-color: rgb(238, 238, 238);
  border: 1px solid rgb(187, 187, 187);
  padding: 0px;
  border-radius: 1px;
  color: #7F5AB6;
}

.rg-preprocessor {
  color: #8cd0d3;
}

.rg-preprocessor {
  color: #8cd0d3;
}

.rg-variable-name {
  color: #f0dfaf;
}

.rg-string {
  color: #cc9393;
}

.rg-type {
  color: #dfdfbf;
  font-weight: bold;
}

.rg-function-name {
  color: #8cd0d3;
  font-weight: bold;
}

.rg-keyword {
  color: #f0dfaf;
  font-weight: bold;
}

.rg-comment {
  color: #7f9f7f;
}

.rg-doc {
  color: #afd8af;
}

.rg-comment-delimiter {
  color: #708070;
}

.rg-constant {
  color: #dca3ac;
  font-weight:bold;
}

.rg-builtin {
  color: #7f9f7f;
}
